.App {
  text-align: center;
}

.bro-con {
  animation: bro-con-spin infinite 20s linear;
  height: 80px;
  font-size: 32px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes bro-con-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bro-button {
  border: 0.012em solid #777;
  border-radius: 0.25em;
  font-size: 22px;
  margin-top: 2em;
  background-color: #d9edf7;
}

.bro-five-icon {
  margin: 0 0.2em;
}
